<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="patient_management_system.My.MySettings.receploginConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\ADMIN\Documents\receplogin.accdb"
            providerName="System.Data.OleDb" />
        <add name="patient_management_system.My.MySettings.patientdetailsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\ADMIN\Documents\patientdetails.accdb"
            providerName="System.Data.OleDb" />
        <add name="patient_management_system.My.MySettings.regpatientConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\ADMIN\Documents\regpatient.accdb"
            providerName="System.Data.OleDb" />
        <add name="patient_management_system.My.MySettings.doctorregistrationConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\ADMIN\Documents\doctorregistration.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
</configuration>